{application, $app_name, [
    {description, "$display_name Erlang/Cowboy web application"},
    {vsn, "0.1.0"},
    {registered, []},
    {mod, {${app_name}_app, []}},
    {applications, [
        kernel,
        stdlib,
        crypto,
        cowboy,
$db_app
        jsone
    ]},
    {env, []},
    {modules, []}
]}.
