{erl_opts, [debug_info, {i, "_build/default/lib"}]}.

%% migrations/ is a subdirectory of src/ compiled as part of the app.
%% Each migration is an Erlang module exporting version/0 and up/0.
{src_dirs, ["src", "src/migrations"]}.

{deps, [
    {cowboy,  "2.10.0"},
$templating_dep
$db_extra_deps
    {jsone,   "1.8.1"}
]}.

{profiles, [
    {dev, [
        {deps, [{fs, "3.4.0"}]},
        {shell, [
            {config, "config/sys.config"},
            {apps,   [fs, $app_name]}
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps,   [$app_name]}
]}.

$erlydtl_plugin

$provider_hooks

$erlydtl_opts

{relx, [
    {release, {$app_name, "0.1.0"}, [$app_name, sasl]},
    {mode, dev},
    {sys_config, "config/sys.config"},
    {vm_args,    "config/vm.args"},
    {include_erts, false},
    {extended_start_script, true}
]}.
