[
    {$app_name, [
        {http, [{port, 8080}]},

        {db_backend, $db_backend_atom},

        {sqlite, [
            {path, "priv/db/${app_name}.db"}
        ]},

$postgres_config
        {session_secret, <<"CHANGE_ME_32_BYTES_OF_RANDOM_KEY">>}
    ]},

    {kernel, [{logger_level, info}]}
].
