{erl_opts, [debug_info, {i, "_build/default/lib"}]}.

{deps, [
    {cowboy,  "2.10.0"},
    {erlydtl, "0.14.0"},
    {esqlite, "0.8.0"},

    {jsone,   "1.8.1"}
]}.

{profiles, [
    {dev, [
        {deps, [{fs, "3.4.0"}]},
        {shell, [
            {config, "config/sys.config"},
            {apps,   [fs, test_app]}
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps,   [test_app]}
]}.

{plugins, [rebar3_erlydtl_plugin]}.

{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.

{erlydtl_opts, [
    {source_ext, ".html"},
    {module_ext, "_dtl"},
    {doc_root,   "priv/templates"},
    {recursive,  true},
    {compiler_options, [debug_info, return]}
]}.

{relx, [
    {release, {test_app, "0.1.0"}, [test_app, sasl]},
    {mode, dev},
    {sys_config, "config/sys.config"},
    {vm_args,    "config/vm.args"},
    {include_erts, false},
    {extended_start_script, true}
]}.
